# Use a predefined base style (LLVM, Google, Chromium, Mozilla, WebKit, Microsoft)
BasedOnStyle: LLVM

# Custom overrides
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach

# Language-specific overrides
---
Language: Cpp
Standard: Latest
DerivePointerAlignment: false
PointerAlignment: Left
BreakTemplateDeclarations: Yes
